@import "../variables.scss";

.HotelDetailOuter {
  background-color: $white;
  padding: 20px 0 50px;
  .ContainerCss {
    display: flex;
    justify-content: space-between;
    @media (max-width: $lg) {
      display: block;
    }
    .HotelDtlLeft {
      width: 65.5%;
      position: relative;
      @media (max-width: $lg) {
        width: 100%;
      }
      .HotelDtlTop {
        h1 {
          font-size: 20px;
          font-weight: 700;
          margin: 0 0 7px;
        }
        .TripRvOuter {
          display: flex;
          align-items: center;
          margin: 0 0 20px;
          @media (max-width: $md) {
            display: block;
          }
          .ReviewImg {
            margin-left: 10px;
            @media (max-width: $md) {
              margin: 7px 0;
            }
          }
          .LcnBlock {
            display: flex;
            align-items: center;
            margin: 0 0 0 25px;
            font-size: 12px;
            @media (max-width: $md) {
              margin: 0;
            }
            span {
              margin: 0 7px;
            }
            a {
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
      .SwiperImg {
        img {
          width: 100%;
          border-radius: 10px;
          @media (max-width: $md) {
            border-radius: 5px;
          }
        }
      }
      .MainSlider {
        margin: 0 0 0 5px;
        .SwiperImg {
          img {
            border-radius: 15px;
          }
        }
      }
      .ThumbSlider {
        position: relative;
        .SwiperImg {
          width: auto !important;
          margin: 5px 5px 0;
          cursor: pointer;
        }
        .moreImg {
          position: absolute;
          right: 1px;
          top: 5px;
          width: 19%;
          background-color: rgba(0, 0, 0, 0.7);
          bottom: 5px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          color: #fff;
          z-index: 1;
          @media (max-width: $md) {
            border-radius: 5px;
            font-size: 11px;
            line-height: 1.1;
          }
          strong {
            display: block;
          }
        }
      }
      .HtlDtlFullInfo {
        margin: 20px 0 0;
        .HtlNavOuter {
          border: none;
          background: #e8f7f8;
          border-radius: 6px;
          position: sticky;
          top: 101px;
          z-index: 5;
          @media (max-width: $lg) {
            top: 75px;
          }
          @media (max-width: $md) {
            display: flex;
            white-space: nowrap;
            overflow-x: auto;
            flex-wrap: nowrap;
            margin-left: -12px;
            margin-right: -12px;
            width: auto;
            padding: 5px;
            border-radius: 0;
          }
          .HtlNavItem {
            border: none;
            outline: none;
            box-shadow: none;
            a {
              border: none;
              outline: none;
              box-shadow: none;
              border-radius: 6px;
              color: #000;
              display: flex;
              align-items: center;
              @media (max-width: $xl) {
                font-size: 13px;
                padding: 7px 12px;
              }
              @media (max-width: $md) {
                padding: 5px 8px;
                border-radius: 4px;
              }
              img {
                padding-right: 8px;
                @media (max-width: $md) {
                  display: none;
                }
              }
              &.Active {
                background-color: #21afbc;
                color: #fff;
                img {
                  filter: brightness(100);
                }
              }
            }
          }
        }
        .HtlTabContent {
          border: none;
          h3 {
            font-size: 20px;
            margin: 0 0 10px;
          }
          h4 {
            font-size: 17px;
            margin: 0 0 10px;
          }
          h5 {
            font-size: 15px;
            margin: 0 0 10px;
          }
          h6 {
            font-size: 13px;
            margin: 0;
          }
          .paypalWd {
            max-width: 60px;
            width: 60px;
            padding: 5px 0 0 12px;
            @media (max-width: $md) {
              max-width: 50px;
              width: 50px;
            }
          }
        }
      }
      .OverviewSec {
        margin: 40px 0 0;
      }
      .GuestReview {
        margin: 25px 0 0;
      }
      .itineraryBox {
        margin-top: 15px;
        .itineraryLoop {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          flex-direction: inherit;
          margin: 0 -7px;
          padding: 0;
          border: none;
          border-radius: 0;
          @media (max-width: $md) {
            margin: 0;
          }
          li {
            font-size: 12px;
            margin: 0;
            padding: 0 7px 15px;
            border: none;
            border-radius: 0;
            width: 33.333%;
            margin: 0;
            @media (max-width: $md) {
              margin: 0;
              padding: 0 0 15px;
              width: 100%;
            }
            .itinBox {
              background-color: #f9f9f9;
              border: 1px solid #d5e0eb;
              border-radius: 10px;
              padding: 12px;
              .itinTop {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .itinTopLt {
                  font-weight: 600;
                  font-size: 13px;
                }
              }
              .itinMid {
                font-size: 18px;
                color: #219ebc;
              }
            }
          }
        }
      }
      .includeBox {
        margin: 15px 0 0;
        font-size: 12px;
        .mrgBtm {
          margin-bottom: 15px;
        }
        .incInfo {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          i {
            margin-right: 5px;
            min-width: 40px;
          }
          .incInfoRt {
            flex: auto;
            .incHd {
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }
      .policiesBox {
        .navLink {
          font-size: 12px;
          color: $green;
          text-decoration: underline;
          display: flex;
          align-items: center;
          img {
            padding-left: 5px;
          }
          &:hover {
            text-decoration: none;
          }
        }
        .termsBox {
          font-size: 12px;
          border-top: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          margin: 20px 0;
          padding: 20px 0;
          h6 {
            font-size: 16px;
            margin: 0 0 10px;
          }
          .shareBox {
            text-align: center;
            margin-top: 20px;
          }
        }
      }
    }
    .HotelDtlRight {
      width: 30.5%;
      position: sticky;
      top: 110px;
      z-index: 1;
      align-self: flex-start;
      @media (max-width: $lg) {
        width: 100%;
        margin-top: 30px;
      }
      .HtlBtnGrp {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 0 15px;
        a {
          height: 36px;
          line-height: 36px;
          padding: 0 15px;
          display: flex;
          align-items: center;
          background: #fff;
          border-radius: 36px;
          color: #000;
          margin-left: 10px;
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
          border: 1px solid #ddd;
          img {
            padding-right: 8px;
          }
          &:hover {
            background: #effbfc;
            color: #000;
          }
        }
      }
      .PkgInfo {
        background-color: #f9f9f9;
        padding: 25px;
        border-radius: 10px;
        margin: 15px 0;
        @media (max-width: $xxl) {
          padding: 15px;
          margin: 10px 0;
        }
        h4 {
          font-size: 18px;
          font-weight: 700;
          margin: 0 0 15px;
          @media (max-width: $xxl) {
            font-size: 16px;
            margin: 0 0 10px;
          }
        }
        h5 {
          font-size: 14px;
          margin: 0 0 5px;
        }
        p,
        .PkgTax {
          font-size: 12px;
          @media (max-width: $xxl) {
            margin: 0 0 10px;
          }
        }
        hr {
          border-color: #d8d8d8;
          opacity: 1;
          @media (max-width: $xxl) {
            margin: 10px 0;
          }
        }
        .PkgPrice {
          font-size: 22px;
          color: #219ebc;
          @media (max-width: $xxl) {
            font-size: 20px;
          }
        }
      }
      .DtlRtInOut {
        ul {
          display: flex;
          align-items: center;
          margin: 20px 0;
          text-align: center;
          @media (max-width: $xxl) {
            margin: 10px 0;
          }
          li {
            width: 50%;
            strong {
              display: block;
            }
          }
        }
      }
      .ShowMap {
        border: 1px solid $graylightbdr;
        border-radius: 10px;
        position: relative;
        .MapImg {
          margin-bottom: 0;
          border-radius: 10px;
          width: 100%;
        }
        .ShowMapTop {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          img {
            margin-bottom: 10px;
            @media (max-width: $xxl) {
              width: 30px;
            }
          }
        }
      }
    }
  }
  .cruiseRoomOuter {
    width: 600px;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    transform: translateX(110%);
    transition: all 0.3s ease;
    padding: 20px;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
    font-size: 12px;
    @media (max-width: $md) {
      width: 100%;
      box-shadow: none;
    }
    &.roomOpen {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
    h3 {
      font-size: 18px;
    }
    .roomTopHd {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 25px;
      @media (max-width: $sm) {
        display: block;
      }
      .roomTopLt {
        display: flex;
        align-items: center;
        @media (max-width: $sm) {
          margin-bottom: 15px;
        }
      }
      h3 {
        margin: 0 0 0 10px;
      }
      .roomClsBtn {
        display: block;
        cursor: pointer;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
      }
    }
    .chooseInfo {
      display: flex;
      align-items: center;
      color: $green;
      border-top: 1px solid #d5e0eb;
      border-bottom: 1px solid #d5e0eb;
      margin: 15px 0;
      padding: 15px 0;
      img {
        margin-right: 10px;
      }
    }
    .RoomListCol {
      border: 1px solid $graylightbdr;
      height: calc(100% - 15px);
      border-radius: 10px;
      margin-bottom: 15px;
      @media (max-width: $md) {
        height: auto;
      }
      .RoomListFigure {
        height: 140px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px 8px 0 0;
        }
      }
      .RoomListColContent {
        padding: 12px;
        @media (max-width: $xl) {
          padding: 15px;
        }
        p {
          font-size: 12px;
        }
        .RoomListColContentHd {
          font-size: 16px;
          line-height: 1.3;
          font-weight: $font-bold;
          margin-bottom: 10px;
          &:hover {
            color: $green;
          }
        }
        .srvcList {
          margin: 0 0 15px;
          padding: 0;
          border: none;
          border-radius: 0;
          li {
            margin: 0 0 8px;
            padding: 0;
            border: none;
            border-radius: 0;
            display: flex;
            align-items: center;
            font-size: 12px;
            img {
              margin-right: 8px;
            }
          }
        }
        .RoomFinalPriceRow {
          .RoomFinalPriceLeft {
            flex: 1 1;
            @media (max-width: $md) {
              width: 100%;
              flex: inherit;
              margin-bottom: 15px;
            }
            @media (max-width: $sm) {
              width: auto;
              flex: 1;
              margin-bottom: 0;
            }
            .RoomFinalPriceBig {
              font-size: 16px;
              color: $green;
            }
            .RoomFinalPriceSmall {
              font-size: 12px;
            }
            .TaxesText {
              font-size: 12px;
            }
          }
          .SiteBtn {
            background-color: #ff850e;
            font-size: 13px;
            padding: 7px;
            border-radius: 5px;
            border: 0;
            color: #fff;
            text-align: center;
            min-width: 90px;
            &:hover {
              background-color: $blue;
            }
          }
        }
        .prcOffer {
          background-color: $green;
          color: $white;
          padding: 8px 15px;
          border-radius: 40px;
          font-size: 12px;
          display: inline-flex;
          align-items: center;
          margin: 0 0 15px;
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
