@import "../variables.scss";

.DaySlider {
  @media only screen and (max-width: $lg) {
    margin-top: $mpl + 10;
  }
  .SlideItem {
    padding: 0 5px;
  }
  .DaySlideBlock {
    border: solid 1px $gray;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 6px $mpl;
    text-align: center;
    span {
      display: block;
      font-size: $mpl + 5;
      width: 100%;
    }
    &:hover {
      background-color: lighten($green, 50%);
      border-color: $blue;
    }
  }
  button {
    display: none !important;
  }
}
