@import "../variables.scss";

.FlightOuter {
  h1 {
    font-size: $mpl + 14;
    margin: $mpl + 10 0 $mpl;
    @media (max-width: $lg) {
      font-size: $mpl + 10;
    }
  }
  .HotelSortBox {
    p {
      width: calc(100% - 225px);
      margin-bottom: 0;
      font-size: $mpl;
      padding-right: $mpl + 5;
      @media (max-width: $lg) {
        width: calc(100% - 180px);
      }
      @media (max-width: $md) {
        width: 100%;
        margin-bottom: $mpl;
        padding-right: 0;
      }
    }
    .HotelSortItem {
      width: 225px;
      border: 1px solid $graylightbdr;
      padding: 4px $mpl;
      border-radius: 10px;
      @media (max-width: $lg) {
        width: 180px;
      }
      @media (max-width: $md) {
        margin: auto;
        width: 100%;
      }
      .HotelSortLabel {
        font-size: $mpl + 2;
      }
      select {
        border: 0;
        padding: 0 2px;
        font-size: $mpl + 5;
        background-position: right center;
        &:focus {
          box-shadow: none;
          outline: 0;
        }
      }
    }
  }

  .FlightResult {
    border: solid 1px $graylightbdr;
    border-radius: 10px;
    margin-top: $mpl + 15;
    display: flex;
    flex-wrap: wrap;
    .FlightInfoBlock {
      padding: $mpl + 15 $mpl;
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 240px);

      @media only screen and (max-width: $xl) {
        width: calc(100% - 190px);
      }

      @media only screen and (max-width: $md) {
        width: 100%;
      }

      .FlightResultRow {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: $mpl + 10;

        &:last-child {
          margin-bottom: 0;
        }

        @media only screen and (max-width: $sm) {
          flex-wrap: wrap;
        }
      }

      .FlightName {
        text-align: center;
        font-size: $mpl + 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80px;

        @media only screen and (max-width: $sm) {
          margin: 0 auto $mpl + 5;
        }

        img {
          max-width: 32px;
          display: block;
          margin-bottom: 5px;
        }

        span {
          display: block;
          width: 100%;
        }
      }

      .FlightTime {
        display: flex;
        align-items: center;
        width: calc(100% - 100px);
        margin-left: auto;

        @media only screen and (max-width: $xl) {
          width: calc(100% - 100px);
          margin-right: $mpl;
        }

        @media only screen and (max-width: $sm) {
          width: 100%;
          margin: 0;
        }

        .Timming {
          font-size: $mpl + 2;
          font-weight: 400;

          b {
            display: block;
            font-size: $mpl + 8;
          }
        }

        .FlightType {
          display: flex;
          flex-wrap: wrap;
          margin: 0 $mpl + 20;
          width: calc(100% - 242px);
          text-align: center;
          font-size: $mpl + 2;

          @media only screen and (max-width: $xl) {
            width: calc(100% - 192px);
            margin: 0 $mpl + 10;
          }

          span {
            width: 100%;
            border-bottom: solid 1px lighten($gray, 30%);
            margin-bottom: $mpl;
            padding-bottom: $mpl;

            &:last-child {
              border: 0;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }

    .FlightCost {
      width: 240px;
      border-left: solid 1px $graylightbdr;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;

      @media only screen and (max-width: $xl) {
        width: 190px;
      }

      @media only screen and (max-width: $md) {
        width: 100%;
        border-left: 0;
        border-top: solid 1px $graylightbdr;
      }

      .CenterBox {
        width: 100%;
        padding: $mpl $mpl + 15;

        @media only screen and (max-width: $md) {
          padding: $mpl + 10;
        }
      }

      b {
        font-weight: 400;
        color: $green;
        font-size: $mpl + 12;
        width: 100%;
        display: block;
        margin: 3px 0 $mpl + 10 0;

        @media only screen and (max-width: $lg) {
          font-size: $mpl + 8;
        }
      }

      .DetailBtn {
        background-color: $orange;
        border-radius: 8px;
        font-size: $mpl + 4;
        color: $white;
        padding: 7px $mpl + 5;
        width: 100%;
        display: block;

        &:hover {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
}

/*Modal css start*/
.FlightDetailPopup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($black, 0.1);

  .ModalContent {
    background-color: $white;
    width: 700px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $orange $gray;

    @media only screen and (max-width: $md) {
      width: 100%;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #c0c0c0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $orange;
      border-radius: 0px;
      border: 3px solid $white;
    }
  }

  .FlightInfo {
    padding: 0 $mpl + 25;
    margin-bottom: $mpl + 10;
    @media only screen and (max-width: $md) {
      padding: 0 $mpl + 20 0 $mpl + 10;
    }

    h4 {
      font-size: $mpl + 8;
      font-weight: $font-bold;
      margin-bottom: 0;
    }

    .FlightDetail {
      border: solid 1px $graylightbdr;
      border-radius: 8px;
      padding: $mpl + 5 $mpl + 15;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .FlightTimingBlock {
        width: calc(100% - 150px);
        position: relative;

        @media only screen and (max-width: $sm) {
          width: 100%;
          margin-bottom: $mpl + 10;
        }

        &:before {
          width: 2px;
          height: 42px;
          display: block;
          content: "";
          background-color: $green;
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
        .FlightStatus {
          position: absolute;
          left: 55px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 12px;
          color: #666;
        }
        .FlightDateTime {
          display: flex;
          align-items: center;
          margin-bottom: $mpl + 40;

          &:last-child {
            margin-top: $mpl + 20;
            margin-bottom: 0;
          }

          i {
            width: 25px;
            min-width: 25px;
            margin-right: $mpl + 20;
          }

          p {
            font-size: $mpl + 2;

            b {
              font-size: $mpl + 4;
              display: block;
            }
          }
        }
      }

      .FlightName {
        width: 150px;
        display: flex;
        font-size: $mpl + 2;
        line-height: 1;
        align-items: center;

        i {
          width: 32px;
          min-width: 32px;
          margin-right: $mpl + 5;
        }
      }
    }
  }

  .FlightOtherInfo {
    background-color: $white;
    box-shadow: 1px 0 23px rgba(0, 0, 0, 0.2);
    padding: $mpl + 20 $mpl + 25;
    margin-top: $mpl + 20;

    @media only screen and (max-width: $md) {
      padding: $mpl + 15 $mpl + 25 $mpl + 15 $mpl + 10;
    }

    .InfoBlock {
      margin-bottom: $mpl + 30;

      @media only screen and (max-width: $sm) {
        margin-bottom: $mpl + 15;
      }

      &:last-child {
        margin-bottom: 0;
      }

      h4 {
        font-size: $mpl + 8;
        font-weight: $font-bold;

        span {
          font-size: $mpl + 2;
          font-weight: $font-normal;
        }
      }
    }

    .BaggageInfo {
      display: flex;
      flex-wrap: wrap;
      margin-top: $mpl + 10;

      @media only screen and (max-width: $sm) {
        margin-top: $mpl;
      }

      .BaggageLeftInfo {
        display: flex;
        font-size: $mpl + 2;
        font-weight: $font-light;
        @media only screen and (max-width: $sm) {
          width: 100%;
        }

        i {
          width: 20px;
          min-width: 20px;
          margin-right: $mpl + 5;
        }

        .LabelText {
          font-size: $mpl + 4;
        }
      }

      .BaggageTag {
        font-size: $mpl + 4;
        font-weight: $font-light;
        color: $tagColor;
        background-color: lighten($green, 50%);
        height: 30px;
        padding: 4px $mpl;
        margin-left: auto;
        @media only screen and (max-width: $sm) {
          margin: $mpl 0 0 $mpl + 25;
        }
      }

      .AvailableTag {
        color: $black;
        height: 30px;
        padding: 4px $mpl;
        background-color: lighten($gray, 45%);
        margin-left: auto;
        @media only screen and (max-width: $sm) {
          margin: $mpl 0 0 $mpl + 25;
        }
      }

      .TicketPrice {
        margin-left: auto;
        @media only screen and (max-width: $sm) {
          margin: 0;
        }
      }
    }
  }

  .TotalPriceBlock {
    background-color: $orange;
    padding: $mpl + 5 $mpl + 25;
    color: $white;
    font-size: $mpl + 4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $md) {
      padding: $mpl + 5 $mpl + 25 $mpl + 5 $mpl + 10;
    }

    p {
      color: $white;
      line-height: 1;
      margin: 0;

      @media only screen and (max-width: $sm) {
        width: 100%;
        text-align: center;
        margin-bottom: $mpl;
      }

      b {
        display: block;
        font-size: $mpl + 28;
        font-weight: $font-bold;
        @media only screen and (max-width: $md) {
          font-size: $mpl + 18;
        }
        @media only screen and (max-width: $sm) {
          font-size: $mpl + 10;
        }
      }
    }

    .SelectBtn {
      background-color: $white;
      height: 34px;
      border-radius: 5px;
      color: $black;
      min-width: 185px;
      text-align: center;
      line-height: 33px;

      @media only screen and (max-width: $sm) {
        width: 100%;
      }

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}

.ModalHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $mpl + 30 $mpl + 25;

  @media only screen and (max-width: $md) {
    padding: $mpl + 10 $mpl + 20 $mpl + 10 $mpl + 10;
  }

  h4 {
    margin: 0;
    font-size: $mpl + 8;
    font-weight: $font-normal;
  }

  .CloseModal {
    background-color: rgba($orange, 0.15);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
