@import "../variables.scss";

.carResultWrapper {
  padding: 20px 0 40px;
  .carResultLeft {
    flex: 0 0 30%;
    max-width: 30%;
    @media (max-width: $lg) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .carResultRight {
    flex: 0 0 70%;
    max-width: 70%;
    @media (max-width: $lg) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 20px;
    }
  }
}
