@import "../../variables.scss";

.carSrchResultList {
  .carSrchTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (max-width: $md) {
      display: block;
    }
    .carSrchTopLt {
      @media (max-width: $md) {
        margin-bottom: 15px;
      }
      h2 {
        font-size: 18px;
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
    .carSrchTopRt {
      width: 225px;
      border: 1px solid #d5e0eb;
      padding: 4px 10px;
      border-radius: 10px;
      label {
        font-size: 12px;
        margin: 0;
        display: block;
      }
      select {
        border: 0;
        padding: 0 2px;
        font-size: 15px;
        background-position: right center;
        outline: none;
        box-shadow: none;
      }
    }
  }
  .carResultCard {
    border: solid 1px #d5e0eb;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    @media (max-width: $xl) {
      display: block;
    }
    .carResultCardLt {
      flex: auto;
      display: flex;
      padding: 20px;
      @media (max-width: $xl) {
        padding: 15px;
      }
      @media (max-width: $md) {
        display: block;
      }
      .carResultImg {
        width: 220px;
        min-width: 220px;
        height: 190px;
        @media (max-width: $md) {
          width: 100%;
          min-width: 100%;
        }
        img {
          width: 100%;
          border-radius: 10px;
          height: 100%;
          object-fit: cover;
        }
      }
      .carResultInfo {
        flex: auto;
        padding: 0 20px;
        font-size: 12px;
        @media (max-width: $md) {
          padding: 10px 0 0;
        }
        h3 {
          font-size: 20px;
          margin: 0 0 10px;
          span {
            color: $green;
            display: block;
            font-size: 12px;
            font-weight: 400;
            margin-top: 8px;
          }
        }
        p {
          font-weight: 600;
        }
        ul {
          margin: 0;
          padding: 0;
          border: none;
          border-radius: 0;
          li {
            margin: 0 0 5px;
            padding: 0 0 0 20px;
            border: none;
            position: relative;
            font-size: 12px;
            background: url(../../../../public/assets/chk-arw.png) no-repeat
              left 3px;
          }
        }
      }
    }
    .carResultCardRt {
      width: 240px;
      min-width: 240px;
      border-left: solid 1px #d5e0eb;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-width: $xl) {
        width: 100%;
        min-width: 100%;
        border-left: none;
        border-top: solid 1px #d5e0eb;
        padding: 15px;
      }
      .carRentalPrc {
        font-size: 22px;
        color: #219ebc;
        margin: 0 0 15px;
        text-align: center;
        span {
          display: block;
          font-size: 12px;
          color: #000;
        }
        .lineCut {
          text-decoration: line-through;
        }
      }
    }
  }
}
