@import "../variables.scss";

.FlightBookingPage {
  padding-top: $mpl + 40;
  .FlightBookingLeftSide {
    width: 61%;
    flex: 0 0 61%;
    padding-right: $mpl + 25;
    @media (max-width: $xl) {
      padding-right: $mpl + 5;
    }
    @media (max-width: $lg) {
      width: 100%;
      flex: 0 0 100%;
    }
  }
  .FlightBookingRightSide {
    width: 39%;
    flex: 0 0 39%;
    padding-left: $mpl + 25;
    @media (max-width: $xl) {
      padding-left: $mpl + 5;
    }
    @media (max-width: $lg) {
      width: 100%;
      flex: 0 0 100%;
      margin-top: $mpl + 10;
    }
  }
}
